body{
  background-color:#FBF4E9;

  font-weight: 400;
}
hr{
  border-style: none;
  border-top-style: dashed;
  border-color: grey;
  border-width: 3px;
  width: 4%;

}
h1{
  color: #1a8fe3;
 font-family:monospace;
}
h3{
  color: #FD5D5D;
  font-family:monospace;
}
.myimg{
  background-color: red;
}
